<div class="container-fluid bg-black pt">

  <div class="footer-copyright bg-orange text-white py-4 mb-5 alinhamento">
      <div>
          <img
          class="pb-1"
          width="80px"
          src="../../assets/img/logo_branco.png"
          alt="logotipo Sinergia">
      </div>

      <div class="pl-4 bl-white">
          <div class="">
              <h4 class="fs-46">CURIOSIDADES</h4>
          </div>
      </div>
  </div>
  <div class="row ">

    <div class="col-md-4">
      <div class="d-flex justify-content-right ml-13 mt-3">
        <img
          src="https://media4.giphy.com/media/Hl9GiktFKqkliHrNTx/giphy.gif?cid=ecf05e47q9inr689pw335g3qpa48haqkgw09sw5zs4lutxzh&rid=giphy.gif&ct=g"
          alt="Gif lampada"
          width="400px"
          height="400px"
        />
      </div>
    </div>

    <div class="col-md-8 d-flex justify-content-center mt-5">
      <div class="col-md-6 text-white">
        <h1 class="fs-26 font-weight-bolder">Resumo do projeto</h1>

        <p class="fs-14 color-orange">
          O projeto Sinergia é uma rede social desenvolvida para auxiliar no
          alcance da ODS 7 - Energia Limpa e Acessível.
        </p>
        <p class="fs-12">
          Nosso projeto proporciona uma plataforma onde isso se torna
          possível, criando uma interação entre pessoas com boas ideias e
          empresas dispostas a investir. A rede social conta com um espaço
          para expressar opiniões, compartilhar notícias, pesquisas, projetos
          entre outros. Visamos a ideia de que um trabalho colaborativo possa
          nos deixar mais próximos da realidade onde a tecnologia e o meio
          ambiente sejam igualmente prezados.
        </p>
      </div>
    </div>

    <div class="col-md-8 d-flex justify-content-center text-left mt-6 ml-7">
      <div class="col-md-7 text-white">
        <p class="fs-12 text-right">
          Focamos na meta 7.a, que diz respeito à importância da cooperação
          internacional na facilitação do acesso a pesquisas e tecnologias
          sustentáveis de diferentes tipos de energias e de eficiência
          energética e combustíveis fósseis. Além disso, ela também tem o
          intuito de promover investimento em infraestrutura de energia em
          tecnologias de energia limpa.
        </p>
      </div>

      <div class="col-md-4">
        <div class="d-flex justify-content-right ml-7 img-ods">
          <img
            src="../../assets/img/ods7.png"
            alt="ODS 7"
            width="180px"
            height="180px"
          />
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-5">
      <div class="d-flex justify-content-center mt-6 mb-3">
      <div class="col-md-7 text-white ">
        <h1 class="fs-26 font-weight-bolder text-center mb-5">Identidade Visual</h1>

        <img
          src="../../assets/img/idvisual.png"
          alt="ODS 7"
          width="100%"
        />
      </div>
    </div>
  </div>
</div>
